html {
    margin: 0;
    animation-name: color-transition;
    animation-duration: 1s;
}
@keyframes color-transition {
    0% {
      filter: grayscale(100%);
    }
    100% {
      filter: grayscale(0);
    }
  }
body {
    background-color: rgb(200, 180, 255);
    overflow: auto;
    margin: 0;
}
div { margin: 0;}
::-webkit-scrollbar {
  display: none;
  }
h1 { 
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(40, 40, 100);
    text-shadow: 0px 0px 10px rgb(255,140,140);
    position:absolute;
    left: 42%;
}
.Boxes {
    color: rgb(99, 1, 99);
    background-color: pink;
}
.A {
    text-align: left;
}
.B {
    text-align: right;
}
a {
    text-align: center;
    color:rgb(200, 180, 255)
}
li {
    display: inline;
}
ul {border-bottom: 3px solid rgb(90, 50, 140);
    background-color: rgb(30,20,70);
    list-style-type: none;
    margin: 0;
    overflow:hidden;
    position: fixed;
    bottom: 0;
    height: 5%;
    width:100%;
    line-height: 3 !important;
    padding: 0;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s ease-in-out forwards;
}
li a.nav{
    cursor: pointer;
    text-align:center ;
    display:block;
    padding-top:10%;
    padding-bottom:100%;
    padding-left:2.5%;
    padding-right:2.5%;
    background-color: rgb(30,20,70);
    display: inline;
    color: white;
    text-decoration: none;
    border-right: 1px solid rgb(90, 50, 140);
    transition: color 1s ease-in-out;
}
li a.nav:hover{
    background-color:rgb(255,200,150);
    color: rgb(40,40,90);
    padding-top:12%;
    padding-bottom:100%;
    padding-left:3%;
    padding-right:3%;
}

nav a {
    position: relative;
    text-decoration: none;
}
.right {
    position: absolute;
    text-align:center;
    padding-bottom:100%;
    padding-left:2.5%;
    padding-right: 1%;
    background-color:rgb(30,20,70);
    color: white;
    text-decoration: none;
    border-right: 0px !important;
    right:7%;
   }
li a.active {
    background-color: rgb(255,165,70) !important;
}
img.Logo {
    height:auto;
    max-width: 15%;
    position: fixed;
    top: -2.5%;
    left: -4%;
}
.righ {
    border-right: none !important;
    border-left: 1px solid rgb(90, 50, 140);
    position: absolute !important;
    width: 225%;
    text-align: center;
}
.platform {
    display: inline-block;
    position: absolute;
    top: 13%;
    width: 100%;
    overflow: hidden;
}
.platform1 {
    display: inline-block;
    position: absolute;
    top: 55%;
    width: 100%;
    overflow: hidden;
}
.plat {
    border: 5px solid rgb(100,100,160);
    display: block;
    width: 25%;
    text-align: center;
}
.plat.H{
    border-radius: 30px;
    color: rgb(230, 135, 13);
    text-shadow: 2px 2px 5px rgb(120, 120, 150);
    font-size: 35px;
    line-height: 0;
    position: relative;
}
.plat.P{
    border-radius: 10px;
    background-color: rgb(220, 230, 255);
    color: black;
    font-size: 20px;
}
.P1{left: 5%;}
.P2{left: 35%;}
.P3{left: 65%;}
.P4{left: 95%;}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.scroll{
    position: fixed;
    max-width: 5%;
    cursor: pointer;
    opacity: 35%;}
.scroll:hover{
    opacity: 100%;
    transition: opacity 0.5s ease-in-out;
}
.ScrollLeft{
    left: -1.2%;
    transform: rotate(90deg);
}
.ScrollRight{
    transform: rotate(270deg);
    right: -1.2%;
}
.s1{top:30%;}
.s2{top:72%;}
.header{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: absolute;
}
.scrollDiv{margin: 0;}