body {
    background-color: darkslateblue;
    margin: 0;
    padding:0;
}
div.Text {
padding-left: 15%;
padding-top:10%;
font-family:snap itc;
position: relative;
animation-name: Float;
animation-duration: 7s;
margin: 0;
}
@keyframes Float {
    from {left: -100%;}
    to {left: 0%;}
    }
.Quiz {
color: red;
font-family:showcard gothic;
font-size: 75px;
}
.Show {
color: yellow;
font-size: 65px;
}
img {
    height:auto;
    position: fixed;
    top: -2.5%;
    left: -4%;
    animation-name: enlarge;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: both;
}
.TXT {
    float: left;
    padding-left: 5%;
}
.Button {
    right:0;
    top:0;
    height: 1.5%;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    background-color: lightcoral ;
    position: fixed;
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    bottom: 45%;
    border-left:1px solid pink;
    border-bottom:1px solid pink;
    border-right: 0;
    border-top:0;
    animation-name: enlarge;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: both;
}
.Button:hover{
    background-color: pink;
}
@keyframes float {
    from {right: 117%;}
    to {right: 0;}
}
@keyframes enlarge {
    from
    {max-width: 0%;
    opacity: 0;}
    to
    {max-width: 15%;
    opacity: 1;}
}