body {
    background-color: darkslateblue;
}

div.Text {
padding-left: 15%;
padding-top:10%;
font-family:snap itc;
position: relative;
animation-name: Float;
animation-duration: 7s;
}
@keyframes Float {
    from {left: -100%;}
    to {left: 0%;}
    }
h1
.Quiz {
color: red;
font-family:showcard gothic;
font-size: 75px;
}
.Show {
color: yellow;
font-size: 65px;
}
img {
    height:auto;
    position: fixed;
    top: -2.5%;
    left: -4%;
    animation-name: enlarge;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: both;
}
@keyframes enlarge {
    from{max-width: 0%;}
    to{max-width: 15%;}

}
.TXT {
    float: left;
    padding-left: 5%;
}
.Button {
    width: 8.20%;
    height: 1.5%;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    background-color: lightcoral ;
    position: absolute;
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 30%;
    padding-right: 30%;
    bottom: 45%;
    border:1px solid pink;
    animation-name: float;
    animation-duration: 7s;
    animation-fill-mode: both;
}
.Button:hover{
    background-color: pink;
}
@keyframes float {
    from {right: 117%;}
    to {right: 17%;}
}


